<%- include("header") -%>
<link rel="stylesheet" href="../css/styles.css">

  <div id="heading">
    <h1>Add Player</h1>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="box">
          <form class="item" action="/newPlayer" method="post">
            <p><b>First Name: </b></p>
            <input type="text" name="firstName" placeholder="First Name" autocomplete="off">
            <p><b>Last Name: </b></p>
            <input type="text" name="lastName" placeholder="Last Name" autocomplete="off">
            <p><b>Address: </b></p>
            <input type="text" name="address" placeholder="Address" autocomplete="off">
            <p><b>Suburb: </b></p>
            <input type="text" name="suburb" placeholder="Suburb" autocomplete="off">
            <p><b>State: </b></p>
            <input type="text" name="state" placeholder="State" autocomplete="off">
            <p><b>Postcode: </b></p>
            <input type="text" name="postcode" placeholder="Postcode" autocomplete="off">
            <p><b>Home Number: </b></p>
            <input type="text" name="homeNumber" placeholder="Home Number" autocomplete="off">
            <p><b>Mobile Number: </b></p>
            <input type="text" name="mobileNumber" placeholder="Mobile Number" autocomplete="off">
            <p><b>Fax Number: </b></p>
            <input type="text" name="faxNumber" placeholder="Fax Number" autocomplete="off">
            <button type="submit" value="Submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<%- include("footer") -%>