    <footer>
      <div class="foot">
        © Copyright 2020 Weeroona Bay Football Club
        <img src="/images/weerona-logo.png" width="55px" height="50px" alt="Weerona Logo">
      </div>
    </footer>
  </body>
</html>
